.navbar{
	background-color: blue;
	overflow: hidden;
	display: flex;
	color: white;
	justify-content: space-between;
	align-items: center;
	padding: 14px 15px;
}
.navbar a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
.navbar ul{
	list-style-type: none;
	display: flex;
	align-items: right;
	margin: 0;
	padding:0 ;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.side-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.side-menu li{
	margin-left: 20px;
}
.side-menu li:hover{
	text-decoration: underline;
	cursor: pointer;
}
a {
	color: white;
	text-decoration: none;
	margin-left: 10px;
}

	
.div1{
	background-color: black;
	color: white;
	}

.container{
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;

	/*background-image: (to right,green,blue);*/
	background-image: url(wallpaper.jpg);
	border-radius: 8px;   
}
.image-gallery{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
.image{
	flex: 1 1 calc(33.333% - 40px);
	border-radius: 3px;
	box-sizing: border-box;
	width: 300;
	height: 200;
}
.image img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 3px;
}
.footer{
	background-color: blue;
	color: white;
	text-align: center;
	padding: 10px;
	position:;
	left:0;
	bottom:0;
	width: 100%;

}
body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(928.jpg);
	background-size: 115%;
}
#header {
	background-color: blue;
	color: white;
	padding: 30px 0;
}
#animation-section{
	height: 500px;
	background-color: yellowgreen;
	margin: 15px 30px;
	padding: 10px;
}

#animation-section h2{
	color: white;
	text-align: center;
	padding-top: 20px;
}
#animation-section .animation-container{
	width: 800px;
	height: 400px;
	margin: 30px auto;
	position:  relative;
	overflow: hidden;
	border: 5px solid black;
	border-radius: 10px;
	background-color: gray;
}
#animation-section .animation-container img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 100%;
	max-height: 100%;
}
.option-music{
	position: flex;
	justify-content: space-around;
}
.option-music nav ul{
	display: flex;
	list-style-type: none;
	margin: 10px;
	gap: 15px;
}
.option-music li button{
	border-radius: 5px;
	padding: 10px 15px;
	border: none;
	margin-bottom: 10px;
	font-family: 'Segoe UI',Tahoma,Geneva,Verdana, sans-serif;
}

.option-music li button[active]{
	transform: scale(0.95);
	color: white;
	background-color: skyblue;
}
.option-music li button:hover{
	color: white;
	background-color: blue;
	cursor: pointer;
}
#animation-section .animation-container img{
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	left: 30%;
	animation: infinite rotate 8s linear;
}
@keyframes rotate{
	0& {transform: rotate(0deg);}
	25& {transform: rotate(90deg);}
	50& {transform: rotate(180deg);}
	75& {transform: rotate(270deg);}
	100& {transform: rotate(360deg);}
}
