.container{
    width: 300px;
    padding: 20px;
    margin: 15% auto;
    border: ;
    border-radius: 5px;
    box-shadow: green;
    color:skyblue;
    font-weight:10%;
  }
  div.input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  